<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li><a  [routerLink]="'/recipes'"  routerLinkActive="active" *ngIf="isloggedIn">Recipes</a></li>
        <li><a  [routerLink]="'/shopping-list'" routerLinkActive="active" *ngIf="isloggedIn">Shopping List</a></li>
        <li><a  [routerLink]="'/auth'" routerLinkActive="active" *ngIf="!isloggedIn">Authentication</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logout();"  *ngIf="isloggedIn" style="cursor: pointer;">Logout</a></li>
        <li class="dropdown" appDropdown *ngIf="isloggedIn">

          
          <!-- <div class="dropdown" >  -->
            <a class=" dropdown-toggle" >
              Manage  <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a (click)="saveData();" >Save Data</a></li>
              <li><a (click)="fetchData();">Fetch Data</a></li>
            </ul> 
            <!-- </div> -->

         
        </li>
      </ul>
    </div>
  </div>
</nav>
