<div class="row">
  <div class="col-xs-12">
    <form #f="ngForm" (ngSubmit)="onSubmit(f);">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control" name="email" ngModel required email>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" name="password" ngModel required>
        </div>
    
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]= "f.invalid && f.touched" > {{ signUpMode ? 'Sign Up' : 'Login' }}</button> |
          <button class="btn btn-danger" type="button" (click)="switchToLogin();">  {{ signUpMode ? 'Switch to Login' : 'Switch to Sign up' }} </button>
          
        </div>
      </div>
    </form>
  </div>
</div>
