<div *ngIf="rec">
  <div class="row">
  <div class="col-xs-12">
    <img [src]="rec.imagePath" alt="" class="img-responsive" style="max-width: 250px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{rec.name}}</h2>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" >
      <div class="dropdown" appDropdown> 
      <button type="button" class="btn btn-primary dropdown-toggle" >
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="http://google.com">To Shopping List</a></li>
        <li><a (click)="editRecipe()">Edit Recipe</a></li>
        <li><a (click)="deleteRecipe();")>Delete Recipe</a></li>
      </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{rec.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>

</div>