<form (ngSubmit)="onSubmit();" #f="ngForm">
  <div class="form-group" >
  <label for="usr">Name:</label>
  <input type="text" class="form-control" id="usr" ngModel name="userName" required #userName="ngModel">
  <p *ngIf="userName.invalid && userName.touched">Username is required</p>
</div>

<div class="form-group">
  <label for="email">Email:</label>
  <input type="email" class="form-control" id="email" ngModel name="email" #email="ngModel" required email>
</div>
<div class="form-group">
  <label for="sel1">Select list:</label>
  <select class="form-control" id="sel1" [ngModel]="defaultAns" name="selectList" #selectList="ngModel">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
</div>
<div class="form-group" *ngFor="let item of Genders">
  <input type="radio" name="item" ngModel [value]="item" />
  <span>{{item}} </span>

</div>
<button type="submit" class="btn btn-primary" >Submit</button>
</form>